	<% if  not field_value.nil? %>
	        <% c_active = false %>
		<% field_value.each do |img_det| %>
			<% img_uri = "" %>
			<% img_capt = "" %>
			<% img_det.each do  |img_itm| %>
				<% if img_itm =~ URI::regexp %>
					<% img_uri = img_itm %>
				<% else %>
					<% img_capt += img_itm + " " %>
				<% end %>
			<% end %>
			<% if !c_active %>
				<% c_active = true %>
				<% txt_active = "active" %>
			<% else %>
				<% txt_active = "" %>
			<% end %>
			<div class="carousel-item <%= txt_active %>">
				<img src= "<%= img_uri %>" class="d-block w-100" alt= "<%= img_capt %>" >
			</div>  
		<% end %>
	<% else %>
		<% img_uri = 'ds_default_03.png' %>
		<% img_capt = "No image availabel" %>
		<div class="carousel-item active">
			<img src= "<%= image_url(img_uri) %>" class="d-block w-100" alt= "<%= img_capt %>" >
		</div>  	
	<% end %>
	
