<% if field_type == "string" && (field_format == "uri" || field_format == "handle") %>
	<%= render partial: 'urifield', locals: {field_title: field_title, field_value: field_value} %> 
<% elsif field_type == "string" %>
	<%= render partial: 'strfield', locals: {field_title: field_title, field_value: field_value} %> 
<% elsif field_type == "integer" %>
	<%= render partial: 'intfield', locals: {field_title: field_title, field_value: field_value} %> 
<% elsif field_type== "array" && field_title.include?("images") %>
	<%= render partial: 'arrimgs', locals: {field_title: field_title, field_value: field_value} %> 
<% elsif field_type == "array" && field_title.include?("Long") %>
	<%= render partial: 'strfield', locals: {field_title: field_title, field_value: field_value} %>
<% elsif field_type == "array" && field_title.include?("pages") %>
        <%= render partial: 'strfield', locals: {field_title: field_title, field_value: field_value} %>
<% else %>
	<p><%= field_type field_format %></p>
<% end %>