<%= form_with(url: dsdata_path) do |form| %>
  <% puts(dsdatum.id) %>


  <div class="field">
    <%= form.label :ds_id %>
    <%= form.text_field :id, value: dsdatum.id %>
  </div>

  <div class="field">
    <%= form.label :creation_datetime %>
    <%= form.datetime_select :creationdatetime, value: dsdatum.creationdatetime %>
  </div>

  <div class="field">
    <%= form.label :creator %>
    <%= form.text_field :creator, value: dsdatum.creator %>
  </div>

  <div class="field">
    <%= form.label :mids_level %>
    <%= form.number_field :midslevel, value: dsdatum.midslevel %>
  </div>

  <div class="field">
    <%= form.label :scientific_name %>
    <%= form.text_field :scientificName, value: dsdatum.scientificName %>
  </div>

  <div class="field">
    <%= form.label :common_name %>
    <%= form.text_field :commonName, value: dsdatum.commonName %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, value: dsdatum.country %>
  </div>

  <div class="field">
    <%= form.label :locality %>
    <%= form.text_field :locality, value: dsdatum.locality %>
  </div>

  <div class="field">
    <%= form.label :recorded_by %>
    <%= form.text_field :recordedBy, value: dsdatum.recordedBy %>
  </div>

  <div class="field">
    <%= form.label :collection_date %>
    <%= form.date_select :collectionDate, value: dsdatum.collectionDate %>
  </div>

  <div class="field">
    <%= form.label :catalog_number %>
    <%= form.text_field :catalogNumber, value: dsdatum.catalogNumber %>
  </div>

  <div class="field">
    <%= form.label :other_catalog_numbers %>
    <%= form.text_field :otherCatalogNumbers, value: dsdatum.otherCatalogNumbers %>
  </div>

  <div class="field">
    <%= form.label :institution_code %>
    <%= form.text_field :institutionCode, value: dsdatum.institutionCode %>
  </div>

  <div class="field">
    <%= form.label :collection_code %>
    <%= form.text_field :collectionCode, value: dsdatum.collectionCode %>
  </div>

  <div class="field">
    <%= form.label :stable_identifier %>
    <%= form.text_field :stableIdentifier, value: dsdatum.stableIdentifier %>
  </div>

  <div class="field">
    <%= form.label :physical_specimen_id %>
    <%= form.text_field :physicalSpecimenId, value: dsdatum.physicalSpecimenId %>
  </div>

  <div class="field">
    <%= form.label :cat_of_life_reference %>
    <%= form.text_field :catOfLifeReference, value: dsdatum.catOfLifeReference %>
  </div>

  <div class="field">
    <%= form.label :image_id %>
    <%= form.text_field :imageID, value: dsdatum.imageID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
