<p id="notice"><%= notice %></p>

<h1>Digital Specimens Data</h1>

<table>
  <thead>
    <tr>
      <th>Specimen</th>
      <th>Mids level</th>
      <th>Scientific name</th>
      <th>Country</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @dsdata.each do |dsdatum| %>
      <tr>
        <td><%= dsdatum.ds_id %></td>
        <td><%= dsdatum.mids_level %></td>
        <td><%= dsdatum.scientific_name %></td>
        <td><%= dsdatum.country %></td>
        <td><%# = link_to 'something', dsdatum %> 
	    <% @id=dsdatum.ds_id.to_s() %>
	    <div class="btn btn-primary">
                <%= link_to 'Show', {:controller => 'dsdata' ,
                  :action => 'show', :id => @id}, :class => "btn" %> </td>
            </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

