<p id="notice"><%= notice %></p>

<h4>Digital Specimens List</h4>

<table  class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Specimen</th>
      <th>MIDS Level</th>
      <th>Scientific Name</th>
      <th>Country</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @dsdata.each do |dsdatum| %>
      <tr>
        <td><%= dsdatum.ds_id %></td>
        <td><%= dsdatum.mids_level %></td>
        <td><%= dsdatum.scientific_name %></td>
        <td><%= dsdatum.country %></td>
        <td>
            <% @id=dsdatum.ds_id.to_s() %>
            <%= link_to 'Show', {:controller => 'dsdata' ,
              :action => 'show', :id => @id}, :class => "btn btn-primary btn-xs" %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

