<p id="notice"><%= notice %></p>

<p>
  <strong>Ds:</strong>
  <%= @dsdatum.ds_id %>
</p>

<p>
  <strong>Creation datetime:</strong>
  <%= @dsdatum.creation_datetime %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @dsdatum.creator %>
</p>

<p>
  <strong>Mids level:</strong>
  <%= @dsdatum.mids_level %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @dsdatum.scientific_name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @dsdatum.common_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @dsdatum.country %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @dsdatum.locality %>
</p>

<p>
  <strong>Recorded by:</strong>
  <%= @dsdatum.recorded_by %>
</p>

<p>
  <strong>Collection date:</strong>
  <%= @dsdatum.collection_date %>
</p>

<p>
  <strong>Catalog number:</strong>
  <%= @dsdatum.catalog_number %>
</p>

<p>
  <strong>Other catalog numbers:</strong>
  <%= @dsdatum.other_catalog_numbers %>
</p>

<p>
  <strong>Institution code:</strong>
  <%= @dsdatum.institution_code %>
</p>

<p>
  <strong>Collection code:</strong>
  <%= @dsdatum.collection_code %>
</p>

<p>
  <strong>Stable identifier:</strong>
  <%= @dsdatum.stable_identifier %>
</p>

<p>
  <strong>Physical specimen:</strong>
  <%= @dsdatum.physical_specimen_id %>
</p>

<p>
  <strong>Determinations:</strong>
  <%= @dsdatum.determinations %>
</p>

<p>
  <strong>Cat of life reference:</strong>
  <%= @dsdatum.cat_of_life_reference %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dsdatum.image_id %>
</p>

<%= link_to 'Edit', edit_dsdatum_path(@dsdatum) %> |
<%= link_to 'Back', dsdata_path %>
