<p id="notice"><%= notice %></p>

<p>
  <strong>Ds:</strong>
  <%= @dsdatum.id %>
</p>

<p>
  <strong>Creation datetime:</strong>
  <%= @dsdatum.creationdatetime %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @dsdatum.creator %>
</p>

<p>
  <strong>MIDS Level:</strong>
  <%= @dsdatum.midslevel %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @dsdatum.scientificName %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @dsdatum.commonName %>
</p>

<p>
  <strong>Country:</strong>
  <%= @dsdatum.country %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @dsdatum.locality %>
</p>

<p>
  <strong>Recorded by:</strong>
  <%= @dsdatum.recordedBy %>
</p>

<p>
  <strong>Collection date:</strong>
  <%= @dsdatum.collectionDate %>
</p>

<p>
  <strong>Catalog number:</strong>
  <%= @dsdatum.catalogNumber %>
</p>

<p>
  <strong>Other catalog numbers:</strong>
  <%= @dsdatum.otherCatalogNumbers %>
</p>

<p>
  <strong>Institution code:</strong>
  <%= @dsdatum.institutionCode %>
</p>

<p>
  <strong>Collection code:</strong>
  <%= @dsdatum.collectionCode %>
</p>

<p>
  <strong>Stable identifier:</strong>
  <%= @dsdatum.stableIdentifier %>
</p>

<p>
  <strong>Physical specimen:</strong>
  <%= @dsdatum.physicalSpecimenId %>
</p>

<p>
  <strong>Determinations:</strong>
  <#= @dsdatum.determinations >
</p>

<p>
  <strong>Cat of life reference:</strong>
  <%= @dsdatum.catOfLifeReference %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dsdatum.imageID%>
</p>
<%= link_to 'back', dsdata_path, :class => "btn btn-primary btn-xs" %>

