<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @credential.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @credential.url %>
</p>

<p>
  <strong>Server type:</strong>
  <%= @credential.server_type %>
</p>

<p>
  <strong>In use:</strong>
  <%= @credential.in_use %>
</p>

<p>
  <strong>Default:</strong>
  <%= @credential.default %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
